@charset "UTF-8";

/*
    paleta de cores:
    Verde = #49a09d
    Lilás = #5f2c83
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,html{
    height: 100vh;
    width: 100vw;
    background-color: #522f69de;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.664);
    background-color: white;
    border-radius: 20px;
    width: 260px;
    height: 520px;
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
}

section div#foto{
    background: #683c86b9 url(../imagens/pexels-86844948-9373483.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    display: block;
    height: 200px;
    width: 260px;
}

section div#formulario{
    padding: 10px;
    display: block;
    float: left;
}

div#formulario > h1{
    text-align: center;
    margin-bottom:10px ;
}

div#formulario > p{
    margin-bottom: 10px;
}

form > div.campo> input{
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
    font-size: 1em;
    height: 125%;  
    padding: 4px;  
    width: calc(100% - 55px);
    transform: translateY(-1px);
    border-radius: 8px;
    border: none;
}


form > div.campo{
    background-color: gray;
    margin: 5px 0px;
    border-radius:8px ;
    padding-bottom: 20px;
    height: 40px;
    width: 100%;
}



span.material-symbols-outlined{
    font-size: 2em;
    padding: 5px;
    
}

div.campo>label{
    display: none;
}

form > input[type=submit]{
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: #5dcac7;   
    color: rgb(255, 255, 255); 
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    border: none;
    box-shadow: 1px 1px 1px rgba(59, 59, 59, 0.918);
    
}

form > input[type=submit]:hover{
    
    color:rgb(255, 255, 255);
    transition: .1s;
    font-size: 1.3em;
    border: 1px solid black;
}

form > a.botao{
    background-color:  #5dc5c2;
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.849);
    font-weight: bolder;
    font-size: 1em;
    padding-top: 10px;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    box-shadow: 1px 1px 1px rgba(59, 59, 59, 0.918);
   

}

form > a.botao:hover{
   
    border: 1px solid black;
    font-size: 1.2em;
    box-shadow: 1px 1px 1px rgba(53, 53, 53, 0.836);
    transition: 0.1s;
    
}